@import "variables";
@import "header";
@import "footer";

$canvasWidth: 500px;
$canvasHeight: 375px;
$padding-spacing: 0.8rem;

.main {
  color: $light-grey;
  font-size: 1.3rem;
}

#camera {
  display: none;
}

#canvas {
  width: $canvasWidth;
  height: $canvasHeight;
  display: none;
  margin: 1rem auto auto auto;
  padding: 1rem 1rem 1rem 1rem;
  box-sizing: border-box;
}

#canvas-placeholder {
  width: $canvasWidth;
  height: $canvasHeight;
  margin: 1rem auto auto auto;
  padding: 1rem 1rem 1rem 1rem;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
  }
}

.labelled-controls {
  width: $canvasWidth;
  padding: $padding-spacing;
  margin: 0 auto;
}

#video-controls {
  text-align: center;
  padding: $padding-spacing;
}

.video-controls-button {
  color: $middle-2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2rem;
  outline: none;
  &:disabled {
    color: $middle-1;
    cursor: auto;
  }
  &:not(:disabled):hover {
    color: lighten( $middle-2, 10% );
  }
  i {
    transform: translateY(3%);
  }
}

#filter-select {
  margin-left: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
  &:hover {
    color: lighten( $light, 10% );
  }
}

#filter-level-container {
  display: none;
  align-items: center;
}

#filter-level-slider {
  margin: 0 1rem;
}

#level-value {
  width: 3rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
  border: 2px solid $middle-2;
  border-radius: 1.6rem;
  background-color: $dark-2;
  color: $light;
  padding: 0.3rem;
  text-align: center;
}
