@import 'assets/fonts/fonts-index.scss';
@import 'styles/tools/tools-index';
@import 'styles/main';

html {
  height: 100%;
  font-size: 14px;

  @media (min-width: 375px) {
    font-size: 16px;
  }

  @media (min-width: 900px) {
    font-size: 18px;
  }

  @media (min-width: 1600px) {
    font-size: 20px;
  }

  @media (min-width: 2560px) {
    font-size: 22px;
  }

  @media (min-width: 3260px) {
    font-size: 26px;
  }

  @media (min-width: 4060px) {
    font-size: 30px;
  }

  @media (min-width: 4860px) {
    font-size: 34px;
  }

  @media (min-width: 5660px) {
    font-size: 38px;
  }

  @media (min-width: 6460px) {
    font-size: 70px;
  }
}

body {
  color: $light;
  background: $dark-1;
  font-family: 'LatoWeb', 'OpenSansRegular', Arial, sans-serif;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  min-width: 500px;
  padding: 0;
}

.d-block {
  display: block;
}


